QToolButton {
    /*text-align: left;*/
    border: 1px solid transparent;
    padding: 2px;
    margin-top:2px;
    border-radius: 3px;
}

QToolButton:hover {
    border: 1px solid rgba(120,160,255,60%);
    background-color: QLinearGradient(spread:pad, x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgba(150,180,200,20%),stop: 0.5 rgba(225,235,245,20%), stop: 1 rgba(225,235,245,20%));
}

QToolButton:pressed{
    border: 1px solid rgba(120,160,255,80%);
    background-color: QLinearGradient(spread:pad, x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgba(150,180,200,30%),stop: 0.5 rgba(225,235,245,30%), stop: 1 rgba(225,235,245,30%));
}

QToolButton:checked{
    border: 1px solid rgba(120,160,255,40%);
    background-color: rgba(0,0,0,10%)
}
