QToolBar {
    padding: 0px;
}

QTabWidget:pane {
	border-radius: 0px;
	margin:0px;
	padding: 0px;
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgba(233,233,233,20%), stop: 0.3 rgba(220,220,220,20%), stop: 1.0 rgba(255,255,255,20%));
    border-bottom: 1px solid rgba(0,0,0,20%);
    border-top: 1px solid rgba(0,0,0,20%);
    top: -1;
}
QTabWidget{

}

QTabWidget::tab-bar {
    left: 2px;
}

QTabBar::tab {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right:5px;
    /*color:#2A2A2A;*/
 }

QTabBar::tab:hover {
    background: rgba(255, 119, 0, 20%);
}

QTabBar::tab:selected{
    background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgba(250,250,250,20%), stop: 1.0 rgba(220,220,220,20%));
    /*color: #2A2A2A;*/

    border: 1px solid rgba(0,0,0,20%);
    border-bottom-color: rgba(250,250,250,0%);
}

QLabel {
    color: rgba(220,220,220,50%);
}
